<div class="card mt-2 text-center">
    <div class="card-body">
        <h1 class="card-title">Get Faucet Ether to Cast Vote</h1>
        <p class="card-text" style="margin-top: 30px;">In order to be able to vote in the election, you need to have rinkeby ether in your metamask wallet.</p>
        <p class="card-text">Ether is needed because while casting your vote there is a particular gas fees associated with it which has to be paid in ether.</p>
        <p class="card-text">Go to the below link and enter your metamask account wallet address and select 0.1 test ETH and then Click on Send Request to receive Faucet .</p>
        <img src="../../../assets/faucet.webp" class="img-fluid mt-5" style="height: 100px; width: 320px;">
        <br>
        <button (click)="getfaucet()" class="btn btn-dark gradient mt-5"><span><i class="bi bi-box-arrow-up-right"></i></span> Click Here To Get Faucet</button>
    </div>
</div>
<footer class="gradient fixed-bottom">
    <div class="container-fluid text-center">
      <span>Made by <a href="https://github.com/vivekx01/">Vivek</a></span>
    </div>
</footer>

