<div class="card mt-2 text-center">
    <div class="card-body">
        <img src="../../../assets/blockchain.webp" class="img-fluid" style="height: 50px; width: 50px;" alt="">
        <h1 class="card-title">Project Vision</h1>
        <p class="card-text" style="margin-top: 30px;">The Aim of building this project is to demonstrate how free and fair elections can be conducted online with the help of Blockchain Technology and Smart Contracts.</p>
        <p class="card-text">It offers a better alternative to the current existing traditional ways of voting in Elections.</p>
        

        <h1 style="margin-top: 30px;">About the developer</h1>
        <p class="card-text" style="margin-top: 30px;">
            <img src='../../../assets/git.webp' class="img-fluid" style="height: 80px;width:80px;">
        <h3>vivekx01</h3>
        <a href="https://github.com/vivekx01" class="btn btn-dark">View Github Account</a>
    </div>
</div>
<footer class="gradient fixed-bottom">
    <div class="container-fluid text-center">
      <span>Made by <a href="https://github.com/vivekx01/">Vivek</a></span>
    </div>
</footer>
