<div class="container">
  <div class="card">
      <div class="card-body text-center">
          <img width="100" height="100" src="../../../assets/cast.png" alt=""
              class="rounded-circle img-thumbnail border-dark" />
          <div class="card-title">
              <h2>Cast Your Vote</h2>
          </div>
          <div class="container justify-content-center">
              <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Candidate Name</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of candidatearray">
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.name}}</td>
                      <td><button (click)="vote(item.id)" class="btn btn-success btn-sm getotp">Vote</button></td>
                    </tr>
                    <!-- <tr>
                      <th scope="row">2</th>
                      <td>Candidate 2</td>
                      <td><button class="btn btn-success btn-sm getotp">Vote</button></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Candidate 3</td>
                      <td><button class="btn btn-success btn-sm getotp">Vote</button></td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Candidate 4</td>
                      <td><button class="btn btn-success btn-sm getotp">Vote</button></td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Candidate 5</td>
                      <td><button class="btn btn-success btn-sm getotp">Vote</button></td>
                    </tr> -->
                  </tbody>
                </table>
          </div>
      </div>
  </div>
</div>

<footer class="gradient mt-3">
  <div class="container-fluid text-center">
      <span>Made by <a href="https://github.com/vivekx01/">Vivek</a></span>
  </div>
</footer>


<!-- <div class="container">
    <table class="table" style="width: 600px; text-align: center; margin-left: 250px;">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Votes</th>
      </tr>
      <tr *ngFor="let item of candidatearray" style="width: 100%;">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.voteCount}}</td>
      </tr>
    </table>
    <div class="container" style="text-align: center;">
      <form [formGroup]="voteForm" (ngSubmit)="vote()">
        <select class="form-select" name="candidatename" formControlName= "voteChoice" style="width: 200px; margin-left: 400px" required>
          <option [value]="item.id" *ngFor="let item of candidatearray">{{item.name}}</option>
        </select>
        <div class="d-grid gap-2 col-2 mx-auto">
          <input type="submit" value="Vote" class="btn btn-dark btn-sm" style="margin-right: 100px; margin-top: 20px" >
        </div>
      </form>
    </div>
  </div> -->