<div class="container">
    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-4 text-center">
                    <img src="../../../assets/metamask.svg" class="img-fluid" style="height: 80px; width: 80px;">
                </div>
                <div class="col-5">
                    <h5 class="card-title">Setting up Metamask</h5>
                    <p class="card-text">Get a Detailed guide on how to setup metamask in your browser in order to be able to use the application.</p>
                    <a (click)="setupmetamask()" class="stretched-link"></a>
                </div>
                <div class="col-3 text-center">
                    <img src="../../../assets/arrow.svg" class="img-fluid mt-3" style="height: 40px; width: 40px;">
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-4 text-center">
                    <img src="../../../assets/ether.webp" class="img-fluid" style="height: 80px; width: 80px;">
                </div>
                <div class="col-5">
                    <h5 class="card-title">Getting Faucet Ether</h5>
                    <p class="card-text">Get instructions on how to obtain Faucet Ether in order to cast your vote after logging in.</p>
                    <a (click)="getfaucet()" class="stretched-link"></a>
                </div>
                <div class="col-3 text-center">
                    <img src="../../../assets/arrow.svg" class="img-fluid mt-3" style="height: 40px; width: 40px;">
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-4 text-center">
                    <img src="../../../assets/desktop.webp" class="img-fluid" style="height: 80px; width: 80px;">
                </div>
                <div class="col-5">
                    <h5 class="card-title">Using the application on Desktops</h5>
                    <p class="card-text">Get a detailed step-by-step guide on how to use the application on Desktop devices.</p>
                    <a (click)="getdesktop()" class="stretched-link"></a>
                </div>
                <div class="col-3 text-center">
                    <img src="../../../assets/arrow.svg" class="img-fluid mt-3" style="height: 40px; width: 40px;">
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-4 text-center">
                    <img src="../../../assets/mobile.webp" class="img-fluid" style="height: 80px; width: 80px;">
                </div>
                <div class="col-5">
                    <h5 class="card-title">Using the application on Mobile Devices</h5>
                    <p class="card-text">Get a detailed step-by-step guide on how to use the application on Mobile Devices.</p>
                    <a (click)="getmobile()" class="stretched-link"></a>
                </div>
                <div class="col-3 text-center">
                    <img src="../../../assets/arrow.svg" class="img-fluid mt-3" style="height: 40px; width: 40px;">
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="gradient fixed-bottom">
    <div class="container-fluid text-center">
      <span>Made by <a href="https://github.com/vivekx01/">Vivek</a></span>
    </div>
</footer>