<div class="container">
    <div class="card">
        <div class="card-body text-center">
            <img width="100" height="100" src="../../../assets/metamask.svg" alt=""
            class="rounded-circle img-thumbnail border-dark" />
            <div class="card-title">
                <h2>Connect Metamask</h2>
            </div>
            <button *ngIf="signerAddress" class="btn btn-success">Connected</button>
            <button *ngIf="!signerAddress" (click)="connectwallet()" class="btn btn-dark">Connect Metamask</button>
            <br>
            <div class="container mt-5 text-center">
                <h5>Metamask Signer Address: <span class="text-success">{{signerAddress}}</span></h5>
                <p>Note: <span class="text-danger">Please make sure to connect a unique Metamask Account before proceeding!</span></p>
            </div>
            <button *ngIf="signerAddress" class="btn btn-success getotp mt-5" (click)="castvote()">Proceed to Vote</button>
            <button *ngIf="!signerAddress" class="btn btn-success getotp mt-5" disabled>Proceed to Vote</button>
        </div>
    </div>
</div>

<footer class="gradient fixed-bottom">
    <div class="container-fluid text-center">
    <span>Made by <a href="https://github.com/vivekx01/">Vivek</a></span>
    </div>
</footer>
<!-- <div class="container text-center mt-5">
    <h3>Connect Your MetaMask Wallet</h3>
    <button *ngIf="!signerAddress" class="btn btn-danger btn-sm" (click)="connectwallet()">Connect</button>
    <button *ngIf="signerAddress" class="btn btn-success btn-sm">Connected</button>
    <p *ngIf="signerAddress">Signer Address: {{signerAddress}}</p>
    <br>
    <button class="btn btn-dark mt-3" (click)="castvote()">Proceed to Vote -></button>
</div> -->
