<div class="container mt-5">
    <div class="row d-flex align-items-center justify-content-center">
        <form class="col-md-6">
            <div class="card px-5 py-5 text-center">
                <h3>ENTER OTP</h3>
                <div class="form-input">
                    <input type="text" name="otp" placeholder="6-Digit OTP" class="form-control" [(ngModel)]="otp"
                        min="10" max="15">
                </div>
                <button class="btn btn-success mt-4 verifyotp" (click)="handleClick()">Verify OTP</button>
                <!-- <button class="btn btn-success mt-4 signup">Get OTP</button> -->
            </div>
        </form>
    </div>
</div>


<!-- <div class="container mt-5">
    <div class="row d-flex align-items-center justify-content-center">
        <h3 style="text-align: center;">Enter OTP</h3>
        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
        <button class="btn btn-success mt-4" (click)="handleClick()">Verify OTP</button>
    </div>
</div> -->
<footer class="gradient fixed-bottom">
    <div class="container-fluid text-center">
        <span>Made by <a href="https://github.com/vivekx01/">Vivek</a></span>
    </div>
</footer>