<header class="page-header gradient">
    <div class="container pt-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-5">
                <h2>Evolutionizing Elections</h2>
                <p>Blockchain Based voting system presents an evolutionary
                    digital concept of voting in Elections.
                </p>
                <a href="#details" type="button" class="btn btn-outline-warning">Read More</a>
                <a type="button" [routerLink]="['/voter/auth/login']" style="margin-left: 10px;" class="btn btn-outline-success">Login</a>
            </div>
            <div class="col-md-5"> <img src="../../../assets/email_campaign_monochromatic.svg" alt=""> </div>
        </div>
    </div>
    <svg style="margin-bottom: -1px;" class="sg-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,128L48,117.3C96,107,192,85,288,80C384,75,480,85,576,112C672,139,768,181,864,181.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    
</header>
<section class="technologies">
    <div class="container text-center">
        <div class="row g-4">
            <div class="col-md-2 tech"><img src="../../../assets/companies/1.webp" alt="technologies logo" class="img-fluid"></div>
            <div class="col-md-2 tech"><img src="../../../assets/companies/2.webp" alt="technologies logo" class="img-fluid"></div>
            <div class="col-md-2 tech"><img src="../../../assets/companies/3.webp" alt="technologies logo" class="img-fluid"></div>
            <div class="col-md-2 tech"><img src="../../../assets/companies/4.webp" alt="technologies logo" class="img-fluid"></div>
            <div class="col-md-2 tech"><img src="../../../assets/companies/5.webp" alt="technologies logo" class="img-fluid"></div>
            <div class="col-md-2 tech"><img src="../../../assets/companies/6.webp" alt="technologies logo" class="img-fluid"></div>
        </div>
    </div>
</section>
<section class="feature gradient">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,224L48,213.3C96,203,192,181,288,154.7C384,128,480,96,576,117.3C672,139,768,213,864,208C960,203,1056,117,1152,101.3C1248,85,1344,139,1392,165.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
        ></path>
      </svg>
    <div class="container" id="details">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../../../assets/seo_monochromatic.svg" alt="">
            </div>
            <div class="col-md-6">
                <h1 class="my-3">Introducing Blockchain Based Voting System</h1>
                <p class="my-4">Blockchain Based voting system presents an evolutionary
                    digital concept of voting in Elections.
                </p>
                <ul>
                    <li>Realtime Results</li>
                    <li>Improved Efficiency</li>
                    <li>Powerful Data Security</li>
                    <li>Easy and Hassle Free Voting</li>
                </ul>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,224L48,213.3C96,203,192,181,288,154.7C384,128,480,96,576,117.3C672,139,768,213,864,208C960,203,1056,117,1152,101.3C1248,85,1344,139,1392,165.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
</section>
<footer class="gradient">
    <div class="container-fluid text-center">
      <span>Made by <a href="https://github.com/vivekx01/">Vivek</a></span>
    </div>
</footer>

<!-- <div class="container-fluid text-center">
    <h3>Evolutionizing Elections</h3>
    <img class="img-fluid" width="650" height="650" src="../../../assets/blockchain.jpg" alt="">
</div> -->